@page
@model Quizpractice.Pages.Chapters.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Chapter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Chapter.ChapterName" class="control-label"></label>
                <input asp-for="Chapter.ChapterName" class="form-control" />
                <span asp-validation-for="Chapter.ChapterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chapter.Content" class="control-label"></label>
                <input asp-for="Chapter.Content" class="form-control" />
                <span asp-validation-for="Chapter.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chapter.Active" class="control-label"></label>
                <input asp-for="Chapter.Active" class="form-control" />
                <span asp-validation-for="Chapter.Active" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chapter.Public" class="control-label"></label>
                <input asp-for="Chapter.Public" class="form-control" />
                <span asp-validation-for="Chapter.Public" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chapter.SubId" class="control-label"></label>
                <select asp-for="Chapter.SubId" class ="form-control" asp-items="ViewBag.SubId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Chapter.Description" class="control-label"></label>
                <input asp-for="Chapter.Description" class="form-control" />
                <span asp-validation-for="Chapter.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
