@page
@model Quizpractice.Pages.Quizs.ResultModel

<h2>Kết quả bài kiểm tra</h2>

@if (Model.QuizFinished)
{
    <div class="alert alert-success">
        <h4>Bạn đã hoàn thành bài kiểm tra!</h4>
        <p>Điểm của bạn: @Model.Score/20</p>
    </div>

    <h3>Các câu trả lời của bạn:</h3>
    <ul>
        @foreach (var answer in Model.AnswerDetails)
        {
            <li>
                Câu hỏi @answer.QuestionId:
                @if (answer.IsCorrect)
                {
                    <span class="text-success">Đúng</span>
                }
                else
                {
                    <span class="text-danger">Sai</span>
                }
                <br />
                Đáp án bạn chọn: @answer.SelectedAnswer
            </li>
        }
    </ul>
}
else
{
    <div class="alert alert-info">
        Bạn hoàn thành bài kiểm tra.
    </div>
}
