@page
@model Quizpractice.Pages.Questions.DetailsModel
@{
    Layout = "~/Pages/Shared/_Layout_Teacher.cshtml";
}
<h1>Question Details</h1>

<div>
    <h2>Question Content</h2>
    <p>@Model.Question.Content</p>
</div>

<div>
    <h2>Detailed Information</h2>
    <p><strong>Subject:</strong> @Model.Question.Subject?.SubjectName</p>
    <p><strong>Chapter:</strong> @Model.Question.Chapter?.ChapterName</p>
</div>

<div>
    <h2>Answers</h2>
    <ul>
        @foreach (var answer in Model.Question.Answers)
        {
            <li>
                @answer.Content @if (answer.Correct == true)
                {
                    <strong>(Correct)</strong>
                }
            </li>
        }
    </ul>
</div>

<a class="btn btn-secondary" asp-page="Index">Back to List</a>
