html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.review-progress-container {
    border: 1px solid #ccc;
    padding: 20px;
}

.review-progress-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.review-progress-content p {
    margin-bottom: 20px;
}

.progress-options {
    display: flex;
    margin-bottom: 20px;
}

    .progress-options .option {
        padding: 5px 10px;
        border: 1px solid #ccc;
        margin-right: 10px;
        cursor: pointer;
    }

        .progress-options .option.unanswered {
            background-color: #f1f1f1;
        }

        .progress-options .option.marked {
            background-color: #ffeeba;
        }

        .progress-options .option.answered {
            background-color: #d4edda;
        }

        .progress-options .option.all-questions {
            background-color: #e9ecef;
        }

.progress-numbers {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

    .progress-numbers .number {
        border: 1px solid #ccc;
        padding: 5px 10px;
        text-align: center;
        cursor: pointer;
    }

.score-exam-btn {
    text-align: right;
}


