@page
@model Quizpractice.Pages.Home.IndexModel
@{
    Layout = "~/Pages/Shared/_Layout_Learner.cshtml";
    
}
<!-- Main Container -->
<div class="container mt-4">
    <!-- Header Section -->
    <header class="text-center mb-5">
        <h1>Welcome to Quiz Practice</h1>
        <p>
            Welcome to Quiz Practice System, the ultimate quiz practicing system for learners of all ages and levels. Quiz Practice System lets you create,
            take, and share quizzes on any topic you can imagine. You can choose from different quiz formats, difficulty levels, time limits, feedback
            options, and scoring methods. You can also access thousands of quizzes created by other users or experts in various fields. Quiz Practice
            System helps you test your knowledge, improve your skills, and have fun while learning. Whether you want to prepare for an exam, review a
            course material, or just challenge yourself, Quiz Practice System is the perfect tool for you. Start quizzing today and discover how much you
            can learn!
        </p>
    </header>
    
    <!-- Subjects Section -->
    <section id="subjects" class="mb-5">
       
      </div>
        <div class="row">
            @foreach (var subject in Model.Subjects)
            {
                <div class="col-md-4 mb-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <img src="@subject.Thumbnail" class="card-img-top" alt="@subject.SubjectName">
                            <h5 class="card-title">@subject.SubjectName</h5>
                            <p class="card-text">@subject.Description</p>
                          
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>


    <!-- Footer -->
    <footer class="text-center mt-5 py-4 bg-light">
        <p>&copy; 2024 Quiz Practice. All Rights Reserved.</p>
    </footer>
